<div class="container">
  <div class="row">
    <div class="col">
      <video height="100%" width="100%" #audio controls autoplay></video>
    </div>
    <div class="col">
      <div>
        <div>MY DATA</div>
        <textarea #data type="text"></textarea>
      </div>
      <div>
        <div>REMOTE DATA</div>
        <textarea #connect type="text"></textarea>
      </div>
      <div>
        init: <input #init type="checkbox">
        <button (click)="getDevices()">get devices</button>
        <!-- <button (click)="captureScreen()">capture screen</button>
        <button (click)="stopCapturing()">stop capturing</button> -->
        <button (click)="makeConnect()">connect</button>
        <button (click)="clear()">clear</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <div>MY SCREEN</div>
      <video muted #myScreen></video>
    </div>
  </div>
</div>