<div>
  <video #audio controls autoplay></video>
  <br/> MY DATA
  <br/>
  <textarea #data disabled type="text"></textarea>
  <br/> REMOTE DATA
  <br/>
  <textarea #connect type="text"></textarea>
  <br/>
  <button (click)="makeConnect()">connect</button>
  <button (click)="clear()">clear</button>
</div>
<!-- <div>
  <video #video2 controls autoplay></video>
  <br/>
  <textarea #data2 type="text"></textarea>
  <button (click)="getData()">get data</button>
  <br/>
  <input type="text">
  <button (click)="connect(2)">connect</button>
</div> -->